<!DOCTYPE HTML PUBLIC"-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Email Signature</title>
<meta content="text/html; charset=utf-8"http-equiv="Content-Type">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>
<table style="width: 580px; font-size:9pt; font-family: Arial,sans-serif;" cellpadding="0" cellspacing="0">
<tbody>
 <tr>	
  <td  style="width:166px; vertical-align:top;" valign="top">
   <p style="font-size: 0%;padding: 50px;">.</p>
   <a  href="https://www.cc-osartis.com/"target="_blank" ><img border="0"alt="Logo"height="{{height}}"width="230"style="margin-top:200px;padding-left:9px ;width:166px; height:80px; border:0;"src="{{logo}}"></a>   
  </td>
  <td style="width:44px; ; text-align:center; vertical-align:top;" valign="top">
   <img border="0"alt="Logo"width="13"style="width:13px; height:106px; border:0;"src="https://i.imgur.com/NXoyNnB.png&export=download">
  </td>
  <td style="width:300px; vertical-align:top;" valign="top">
   <table style="border-collapse: collapse;" cellpadding="0" cellspacing="0">
   <tbody>
    <tr>
     <td style="font-size:10pt; font-family:Arial,sans-serif; font-weight: bold; color:#3c3c3b; padding-bottom:5px; line-height:16px; width: 100%;">{{prenom}} {{nom}}</td>
    </tr>
    <tr>
     <td style="font-size:10pt; font-family: Arial,sans-serif; font-weight: bold; color:#3c3c3b; padding-bottom:5px; line-height:16px; width: 100%;">{{poste}}</td>
    </tr>
    <tr>
     <td style="font-size:9pt; font-family:Arial,sans-serif; color:#3c3c3b; padding-bottom:1px; line-height:14px;">
      <span style="font-weight:bold;"><img src="https://i.imgur.com/SqB0w8I.png&export=download" height="10" width="10" alt=""> &#32 : </span>{{tel}}
     </td>
    </tr>				
    <tr>
     <td style="font-size:9pt; font-family:Arial,sans-serif; color:#3c3c3b; padding-bottom:1px; line-height:14px;"><span style="font-weight:bold;"><img src="https://i.imgur.com/mn0QzT8.png&export=download" height="10" width="10" alt=""> &#32 : </span>{{adresse}} 
     </td>
    </tr>
    <tr>
      <td  style="font-size:9pt; font-family:Arial,sans-serif; color:#3c3c3b; padding-bottom:1px; line-height:14px;">
         <span style="font-weight:bold;"><img src="https://i.imgur.com/oVKS9Lo.png&export=download" height="10" width="10" alt=""> &#32 : </span><a href="https://www.cc-osartis.com/"target="_blank"style="color:#1793d2"> www.cc-osartis.com</a>
      </td>                                        
    </tr>
        <tr>
      <td  style="font-size:9pt; font-family:Arial,sans-serif; color:#3c3c3b; padding-bottom:1px; line-height:14px;">
         <span style="font-weight:bold;"><img src="https://i.imgur.com/AjFMg8f.png&export=download" height="10" width="10" alt=""> &#32 : </span><a href="https://twitter.com/Osartis"target="_blank"style="color:#1793d2">Twitter</a>
      </td>
    </tr>				
    <tr>
      <br>
     <td style="font-size:9pt; font-family:Arial,sans-serif; color:#3c3c3b; padding-bottom:1px; line-height:14px;"><img src="https://i.imgur.com/Qg3oMXa.png&export=download" height="10" width="10" alt=""> <span style="font-weight:bold;"> &#32 : </span> {{endroit}}</td>
    </tr>				
    <tr>
     <td style="padding-top:10px; vertical-align: bottom;">
     </td>
    </tr>
   </tbody>
   </table>
  </td>
 </tr>
 <tr>
  <td style="width:550px; padding-top:16px;"colspan="4"width="630">
   <a  href="https://www.cc-osartis.com/"target="_blank"rel="noopener"><img src="https://i.imgur.com/4y1AV5a.png&export=download" width="550" alt="Bandeau d'actualités" border="0"></a>
  </td>
 </tr>	
</tbody>
</table>
</body>
</html>